@model IEnumerable<Kursova.Models.Purchase>


<div class="container">
    <h2 class="mt-5">My Purchases</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th><a asp-action="PurchaseDashboard" asp-route-sortOrder="@ViewBag.TitleSort">Product</a></th>
                <th><a asp-action="PurchaseDashboard" asp-route-sortOrder="@ViewBag.PriceSort">Price</a></th>
                <th><a asp-action="PurchaseDashboard" asp-route-sortOrder="@ViewBag.NameSort">User</a></th>
                <th><a asp-action="PurchaseDashboard" asp-route-sortOrder="@ViewBag.DateSort">Date</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var purchase in Model)
            {
                <tr>
                    <td>@purchase.Product.title</td>
                    <td>@purchase.Product.price</td>
                    <td>@purchase.User.UserName</td>
                    <td>@purchase.CreatedAt</td>
                </tr>
            }
        </tbody>
    </table>
</div>